@model eCommerceMVC.ViewModels.PageViewModel

<section class="blog-banner-area">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h2>@Model.PageTitle</h2>
                <p>
                    @Model.PageDescription
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-margin--small">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="inner-content">
                    <h2>We require 3 days cancellation notice prior to your order, otherwise we will charge you a cancellation fee as below :</h2>
                    <br />
                    <p>
                        <strong>
                            1 . 10% of your total amount will be charged if you cancel or make any changes
                            from 3 to 2 days prior to your order.
                        </strong>
                    </p>
                    <p>
                        <strong>
                        2 . 30% of your total amount will be charged if you cancel or make any changes
                        from 2 to 1 day prior to your order.
                        </strong>
                    </p>
                    <p>
                        <strong>
                        3 . 50% of your total amount will be charged if you cancel or make any changes
                        from 1 day prior to your order.
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

