@using eCommerceMVC.Resources

@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Please_check_your_email_to_reset_your_password_
    </p>
</div>

