@using Microsoft.AspNet.Identity
@using eCommerceMVC.Resources

@model eCommerceMVC.ViewModels.CheckoutViewModel

@if (Model != null)
{
    <section class="blog-banner-area">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>@Resources.Checkout</h1>
                    <p>
                        @Resources.Checkout_your_products
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="tracking_box_area section-margin--small">
        <div class="container">
            <div id="tracking-holder">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border m-5" role="status" id="dtLoader" style="display:none">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="response-holder">
                    @{Html.RenderPartial("_Checkout", Model);}
                </div>
                @*<div id="response-holder">
                        <input type="button" value="Pay with Lightbox" onclick="Checkout.showLightbox();" />
                        <input type="button" value="Pay with Payment Page" onclick="Checkout.showPaymentPage();" />
                    </div>*@
            </div>
        </div>
    </section>
}