<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>

	<connectionStrings>
		<!--     <add name="eCommerceConnectionString-OK" connectionString="Data Source=.;Initial Catalog=JomlahDb;User ID=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient" />  
		<add name="eCommerceConnectionString-OK" connectionString="Data Source=198.38.83.200;Initial Catalog=jomlahj1_dbb;User ID=jomlahj1_dbuser;Password=PnsYSjbnmEAf4n3;" providerName="System.Data.SqlClient" />
            -->
		<add name="eCommerceConnectionString-OK" connectionString="Data Source=198.38.83.200;Initial Catalog=jomlahj1_dbb;User ID=jomlahj1_dbuser;Password=PnsYSjbnmEAf4n3;" providerName="System.Data.SqlClient" />


	</connectionStrings>

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<!-- App Info Keys -->
		<add key="ApplicationName" value="Jomlah Jo" />
		<add key="ApplicationIntro" value="Our Jordanian Webstore" />
		<!-- <add key="Address" value="445 Mount Eden Road,&lt;br&gt;Mount Eden, Auckland,&lt;br&gt;New Zealand." /> -->
		<add key="Address" value="Amman, Jordan" />
		<!-- <add key="EmailAddress" value="info@ecommercemvc.com" /> -->
		<add key="EmailAddress" value="info@jomlahjo.com" />
		<add key="PhoneNumber" value="+962796669096" />
		<add key="MobileNumber" value="+962796669096" />
		<!-- <add key="FacebookURL" value="https://www.facebook.com/SajjadArifGul" /> -->
		<add key="FacebookURL" value="https://www.facebook.com/Jomlah-Jo-100319861587411/" />
		<!-- <add key="TwitterURL" value="https://twitter.com/SajjadArifGul" /> -->
		<add key="TwitterURL" value="https://twitter.com/JomlahJ" />
		<!-- <add key="TwitterUsername" value="SajjadArifGul" /> -->
		<add key="TwitterUsername" value="#" />
		<!-- <add key="WhatsAppNumber" value="+923320307817" /> -->
		<add key="WhatsAppNumber" value="00962796669096" />
		<!-- <add key="InstagramURL" value="https://www.instagram.com/SajjadArifGul/" /> -->
		<add key="InstagramURL" value="https://www.instagram.com/jomlahjo/" />
		<!-- <add key="YouTubeURL" value="https://www.youtube.com/SajjadArifGul" /> -->
		<add key="YouTubeURL" value="#" />
		<!-- <add key="LinkedInURL" value="https://www.linkedin.com/in/sajjadarifgul" /> -->
		<add key="LinkedInURL" value="#" />
		<!-- App Info Keys End -->

		<!-- AuthorizeNet Config Keys -->
		<add key="AuthorizeNet_ApiLoginID" value="YOUR-AUTHORIZENET-API-LOGIN-ID-HERE" />
		<add key="AuthorizeNet_ApiTransactionKey" value="YOUR-AUTHORIZENET-API-TRANSACTION-KEY-HERE" />
		<add key="AuthorizeNet_SandBox" value="true" />
		<!-- AuthorizeNet Config Keys End -->

		<!-- SendGrid Configs for Email Keys -->
		<add key="SendGridAPIKey" value="YOUR-SENDGRID-API-KEY-HERE" />
		<add key="FromEmailAddress" value="noreply@aspdemos.com" />
		<add key="FromEmailAddressName" value="Jomlah Jo" />
		<!-- SendGrid Configs for Email Keys End -->

	</appSettings>
	<system.web>
		<customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="~/500.aspx">
			<error statusCode="404" redirect="~/404.aspx" />
			<error statusCode="500" redirect="~/500.aspx" />
		</customErrors>

		<trust level="Full" />
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1" />
		<httpModules>
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>
	<system.webServer>
		 <rewrite>
      <rules>
        <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
		<modules>
			<remove name="FormsAuthentication" />
			<remove name="TelemetryCorrelationHttpModule" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
		<httpErrors errorMode="Custom">
			<remove statusCode="404" />
			<error statusCode="404" path="404.html" responseMode="File" />
			<remove statusCode="500" />
			<error statusCode="500" path="500.html" responseMode="File" />
		</httpErrors>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AI.DependencyCollector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>